.proj_connexion {
  display: flex;
  & .wrapper {
    width: 45vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 20vh;
    & .return {
      transition: 0.2s;
      cursor: pointer;
      color: var(--blackColor);
      margin-bottom: 1.5rem;
      & i {
        color: var(--mainColor);
      }
      &:hover {
        color: var(--mainColor);
      }
    }
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 10px;
  & i {
    opacity: 0;
    margin-left: -1em;
    transition: 0.2s;
  }
  &.loading {
    & i {
      display: block;
      opacity: 1;
      margin-left: 0.6rem;
      animation-name: loading;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
