.proj_home {
  &_hero {
    position: relative;
    & img {
      width: 100%;
    }
    &_text {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0px);
      background: var(--whiteColor);
      padding: 10px 20px;
      color: var(--blackColor);
      width: 49.85vw;
      & .arrow {
        color: var(--mainColor);
      }
      &.responsive {
        width: 85vw;
      }
    }
  }
}